/*cambiar estilo al pie de pagina*/
.footer{
    background-color: #4A235A;
    height:auto;
    line-height:50px;
    text-align:center;
    position:auto absolute;
    bottom:0;
    left:0;
    width:100%;
}
